# Strings

Strings are sequence of characters, using the syntax of either single quotes or double quotes: 
* 'hello'
* "Hello"
* "I don't do that"

## Creating a String
To create a string in Python you need to use either single quotes or double quotes.

In [1]:
# Single word
'hello'

'hello'

In [2]:
# Entire phrase 
'This is also a string'

'This is also a string'

In [3]:
# We can also use double quote
"String built with double quotes"

'String built with double quotes'

In [4]:
# Be careful with quotes!
' I'm using single quotes, but this will create an error'

SyntaxError: invalid syntax (<ipython-input-4-da9a34b3dc31>, line 2)

In [5]:
"Now I'm ready to use the single quotes inside a string!"

"Now I'm ready to use the single quotes inside a string!"

## Printing a String

In [6]:
# We can simply declare a string
'Hello World'

'Hello World'

In [7]:
# Note that we can't output multiple strings this way
'Hello World 1'
'Hello World 2'

'Hello World 2'

In [8]:
print('Hello World 1')
print('Hello World 2')
print('Use \n to print a new line')
print('\n')
print('See what I mean?')

Hello World 1
Hello World 2
Use
 to print a new line


See what I mean?

## String Basics

We can also use a function called len() to check the length of a string!

In [9]:
len('Hello World')

11

## String Indexing
We know strings are a sequence, which means Python can use indexes to call parts of the sequence. Let's learn how this works.

In Python, we use brackets <code>[]</code> after an object to call its index. We should also note that indexing starts at 0 for Python. Let's create a new object called <code>s</code> and then walk through a few examples of indexing.

In [10]:
# Assign s as a string
s = 'Hello World'

In [11]:
#Check
s

'Hello World'

In [12]:
# Print the object
print(s)

Hello World

In [13]:
# Show first element (in this case a letter)
s[0]

'H'

In [14]:
s[1]

'e'

In [16]:
s[2]

'l'

In [20]:
s[-1]

'd'

In [21]:
s[-2]

'l'

In [22]:
s[-3]

'r'

## String Slicing

* Slicing allows us to grab a sebsection of multiple characters, a *slice* of the string.
* Syntax : 
    * **[start:stop:step]**
    * **start** is a numerical index for the slice start
    * **stop** is the index we will go up to *(but not include)*
    * **step** is the size of the *jump* we take

In [23]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello World'

In [24]:
# Note that there is no change to the original s
s

'Hello World'

In [25]:
# Grab everything UP TO the 3rd index
s[:3]

'Hel'

Note the above slicing. Here we're telling Python to grab everything from 0 up to 3. It doesn't include the 3rd index. 
> *up to, but not including*

In [27]:
s[1:3]

'el'

In [26]:
s[3:6]

'lo '

In [28]:
#Everything
s[:]

'Hello World'

In [29]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'd'

In [30]:
# Grab everything but the last letter
s[:-1]

'Hello Worl'

In [31]:
# Grab everything, but go in steps size of 1
s[::1]

'Hello World'

In [32]:
# Grab everything, but go in step sizes of 2
s[::2]

'HloWrd'

In [24]:
# We can use this to print a string backwards
s[::-1]

'dlroW olleH'

## String Properties

### Immutability - once a string is created, the elements within it can not be changed or replaced.

In [33]:
s

'Hello World'

In [34]:
# Let's try to change the first letter to 'x'
s[0] = 'x'

TypeError: 'str' object does not support item assignment

In [35]:
s

'Hello World'

In [36]:
# Concatenate strings!
s + ' concatenate me!'

'Hello World concatenate me!'

In [37]:
# We can reassign s completely though!
s = s + ' concatenate me!'

In [38]:
print(s)

Hello World concatenate me!

In [39]:
s

'Hello World concatenate me!'

In [40]:
letter = 'z'

In [41]:
letter*10

'zzzzzzzzzz'

In [45]:
# pay attention to data types
'2' + '3'

'23'

In [46]:
2+3

5

## Basic Built-in String methods

Objects in Python usually have built-in methods. These methods are functions inside the object (we will learn about these in much more depth later) that can perform actions or commands on the object itself.

We call methods with a period and then the method name. Methods are in the form:

object.method(parameters)

Where parameters are extra arguments we can pass into the method. Don't worry if the details don't make 100% sense right now. Later on we will be creating our own objects and functions!

Here are some examples of built-in methods in strings:

In [47]:
s

'Hello World concatenate me!'

In [48]:
# Upper Case a string
s.upper()

'HELLO WORLD CONCATENATE ME!'

In [49]:
# Lower case
s.lower()

'hello world concatenate me!'

In [50]:
# Split a string by blank space (this is the default)
s.split()

['Hello', 'World', 'concatenate', 'me!']

In [51]:
# Split by a specific element (doesn't include the element that was split on)
s.split('W')

['Hello ', 'orld concatenate me!']

## Print Formatting

We can use the .format() method to add formatted objects to printed string statements.

In [52]:
'Insert another string with curly brackets: {}'.format('The inserted string')

'Insert another string with curly brackets: The inserted string'